<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>KFC Coupon Crawler</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="home_biggest_header">KFC Coupon Crawler</div>

    <div class="button-container">
        <button id="scrapeButton" class="caution-button">重新爬蟲</button>
        <button id="deleteButton" class="caution-button">刪除所有優惠卷</button>
        <button id="getButton">所有優惠卷</button>
        <button id="sortButton">按價格升序排列</button>
        <button id="sortDescButton">按價格降序排列</button>
        <button id="filterNuggetsButton">顯示含雞塊的數據</button>
        <button id="filterTartsButton">顯示含蛋塔的數據</button>
        <button id="filterQQsButton">顯示含QQ球的數據</button>
        <button id="filterChickenButton">顯示含脆雞的數據</button>
        <button id="filterDaifukuButton">顯示含大福的數據</button>
    </div>
    <div id="result"></div>

    <script src="scripts.js"></script>
</body>
</html>
